<ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/signin">Registro</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/profile">Perfil</a></li>
    <li><a href="/products">Productos</a></li>
    <li><a href="/realtimeproducts">Productos en tiempo real</a></li>
    <li><a href="/chat">Chat</a></li>
    <li><a href="/carts/:cid">Ver Carrito</a></li>
</ul>
<button><a href="/api/sessions/logout">Logout</a></button>